<head>
	<title>Top#index</title>
</head>


<body>

<div class="container">
  <div class="row row-eq-height">

	    <% @items.each do |item| %>
		    <div class="col-sm-3">
		      <div class="panel panel-primary">
		  			<div class="panel-heading panel-size">
		  				<h4><%= item.album_name %></h4>
		  				<br>
		  				<%= item.artist_name %>
		  			</div>
		  				<div class="panel-body">
		  					<%= attachment_image_tag(item, :cd_image, class:"img-responsive")%>
		  				</div>
		  			<div class="panel-footer">
		  				価格 | ¥<%= item.price %>
			  			<div class="pull-right" "btn btn-default" aria-hidden="true">
			  				<%= link_to "詳細",item_path(item.id) %>
			  			</div>
	    	   		</div>
	    	   </div>
	    	</div>
		<% end %>

	</div>
</div>


<br><br>

</body>
