<body>


	<section>
		<div class="container">
			<div class="row">
				<!-- Content -->
				<div class="col-md-12" >
					<h3 class="col-md-2 col-md-offset-5">ユーザー 一覧</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12" >
					<%= form_tag(users_path, method: "get") do %>
						<%= text_field_tag :search, params[:search], class: "searchbar col-md-8 col-md-offset-2", placeholder: "検索..." %>
						<%= submit_tag "検索", class: "btn btn-success" %>
					<% end %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12" >

					<table class="table table-hover">
							<thead>
								<th>苗字</th>
								<th>名前</th>
								<th>苗字(カナ)</th>
								<th>名前(カナ)</th>
								<th>郵便番号</th>
								<th>住所</th>
								<th>メールアドレス</th>
								<th></th>
								<th></th>
								<th></th>
							</thead>
							<% @users.each do |user| %>
							<tbody>
								<tr>
									<td><%= user.last_name %></td>
									<td><%= user.first_name %></td>
									<td><%= user.last_name_kana %></td>
									<td><%= user.first_name_kana %></td>
									<td><%= user.post_code %></td>
									<td><%= user.address %></td>
									<td><%= user.email %><</td>
									<th><%= link_to '詳細', adminsters_manage_users_path(user.id) %></th>
								 	<th><%= link_to '編集', adminsters_edit_user_details_path(user) %></th>
									<th><td><%= link_to '削除', users_path(user), method: :delete, "data-confirm" => "	Are you sure？"%></td></th>
								</tr>
							</tbody>
						<% end %>
					</table>
				</div>
			</div>
		</div>
	</section>

<br><br>

</body>

